// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #030e18;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #383b40;

$positive  : #21BA45;
$negative  : #C10015;
$info      : rgba(244, 244, 244, 0.65);;
$warning   : #F2C037;

@import '~quasar-variables-styl'
