body{
	font-family: "Inter", "Gotham SSm", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;;
}

*{
	box-sizing: border-box;
}

:root{
	--button-padding-x: 24px;
	--button-padding-y: 12px;
	--button-font-size: 12px;
	--tds-size--1x: 8px;
	--header-height: 54px;
	--h1-font-size: 34px;
	--h1-line-height: 45px;
}